<div class="total">
  <img src="assets/images/bg/footer-bg.png" alt="nature">
  <div class="content">
    <a href="https://www.youtube.com/channel/UCkY5XLY53bdxYGNdT1pWecg" target="_blank"><img src="assets/images/svg/yb-icon.svg" alt="follow us"></a>
    <a href="https://www.facebook.com/etnothecarium/" target="_blank"><img src="assets/images/svg/fb-icon.svg" alt="follow us"></a>
    <a href="https://www.instagram.com/etnothecariumbn/" target="_blank"><img src="assets/images/svg/in-icon.svg" alt="follow us"></a>
  </div>
  <div class="copy">
    <h5>© Copyright 2017 - Etnothecarium-Botica Natural S.A.S. Ibagué - Tolima</h5>
  </div>
</div>
