<div class="banner">
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true;this.play();"
    id="researchVideo">
    <source src="assets/images/bg/research-bg.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="top">
    <h1>{{ 'research.titulo' | translate }}</h1>
    <img src="assets/images/svg/flora-1.svg" alt="Floral Ornament">
    <h4>{{ 'research.subtitulo' | translate }}</h4>
  </div>
  <img class="bottom-curve" src="assets/images/bg/research-section-1.png">
</div>

<div class="section-1">
  <div class="container-fluid zone1">
    <div class="content">
      <h1 class="title">{{ 'research.tituloSection1' | translate }}</h1>
      <p [innerHtml]="'research.textoSection1' | translate">
      </p>
    </div>
    <img class="img-fluid" src="assets/images/stock/herbs.jpg">
    <img class="img-fluid" src="assets/images/stock/bottom-leaf.png">
  </div>
  <div class="gallery">
    <div class="one purple col-6 col-md-4">
      <img class="img-gallery" src="assets/images/gallery/1/3.jpg">
    </div>
    <div class="one aqua col-6 col-md-4">
      <img class="img-gallery" src="assets/images/gallery/1/2.jpg">
    </div>
    <div class="two red col-12 col-md-8">
      <img class="img-gallery" src="assets/images/gallery/1/6.jpg">
    </div>
    <div class="four orange col-12 col-md-12">
      <img class="img-gallery" src="assets/images/gallery/1/1.jpg">
    </div>
    <div class="one green col-6 col-md-4">
      <img class="img-gallery" src="assets/images/gallery/1/4.jpg">
    </div>
    <div class="one black col-6 col-md-4">
      <img class="img-gallery" src="assets/images/gallery/1/5.jpg">
    </div>
  </div>
  <div class="container-fluid zone2">
    <p>
      {{ 'research.textoZona2' | translate }}
    </p>
    <img class="img-fluid" src="assets/images/stock/petri.jpg">
  </div>
  <div class="gallery">
    <div class="one purple col-6 col-md-4">
      <img class="img-gallery" src="assets/images/gallery/2/3.jpg">
    </div>
    <div class="one aqua col-6 col-md-4">
      <img class="img-gallery" src="assets/images/gallery/2/2.jpg">
    </div>
    <div class="two red col-12 col-md-8">
      <img class="img-gallery" src="assets/images/gallery/2/6.jpg">
    </div>
    <div class="four orange col-12 col-md-12">
      <img class="img-gallery" src="assets/images/gallery/2/1.jpg">
    </div>
    <div class="one green col-6 col-md-4">
      <img class="img-gallery" src="assets/images/gallery/2/5.jpg">
    </div>
    <div class="one black col-6 col-md-4">
      <img class="img-gallery" src="assets/images/gallery/2/4.jpg">
    </div>
  </div>

  <div class="full-width">
    <div class="container-fluid zone4">
      <p>
        {{ 'research.textoZona4' | translate }}
      </p>
    </div>
  </div>
  <div class="container-fluid zone3">
    <div class="inner-zone3">
      <p>
        {{ 'research.textoZona3' | translate }}
      </p>
      <img class="img-fluid o-0" src="assets/images/research/lab-bottom1.jpg">
    </div>
  </div>
  <div class="full-width">
    <div class="container-fluid zone4">
      <div class="zone4-content">
        <img class="img-fluid" src="assets/images/research/lab-bottom2.jpg">
        <img class="img-fluid" src="assets/images/research/lab-bottom3.jpg">
        <img class="img-fluid regresion" src="assets/images/research/lab-bottom4.jpg">
      </div>

      <div class="aliados">
        <h1> {{ 'research.aliados' | translate }}</h1>
        <div class="aliados-p">

          <p class="last-pa">
            {{ 'research.textoZona4Content' | translate }}
          </p>

          <a class="aliado col-8 col-md-4 col-lg-3" href="https://globalinsco.com/" target="_blank">
            <img src="assets/images/allies/allie1.png" />
          </a>

          <a class="aliado col-8 col-md-4 col-lg-3" href="https://honeyoilgroup.com/" target="_blank">
            <img src="assets/images/allies/allie2.png" />
          </a>

          <a class="aliado col-8 col-md-4 col-lg-3" href="https://www.ut.edu.co/" target="_blank">
            <img src="assets/images/allies/allie5.png" />
          </a>

          <a class="aliado col-8 col-md-4 col-lg-3" href="https://www.biotaconsultoria.com/" target="_blank">
            <img src="assets/images/allies/allie3.png" />
          </a>

          <div class="aliado col-8 col-md-4 col-lg-3">
            <img src="assets/images/allies/allie4.png" />
          </div>


          <a class="aliado col-8 col-md-4 col-lg-3" href="https://expocannabiz.com/" target="_blank">
            <img src="assets/images/allies/allie6.png" />
          </a>

        </div>
      </div>

      <div class="zone4-images">
        <img class="img-fluid" src="assets/images/stock/more-herbs.jpg">
      </div>
    </div>
    <img class="img-fluid bottom-left" src="assets/images/stock/cannabis-tree.jpg">
  </div>


</div>