<div class="banner">
  <div class="top">
    <h1>{{ 'about.titulo' | translate }}</h1>
    <img src="assets/images/svg/flora-1.svg" alt="Floral Ornament">
    <h4>{{ 'about.subtitulo' | translate }}</h4>
  </div>
  <div class="arrow-down bounce">
    <i (click)='arrowClick();' class="material-icons">&#xE313;</i>
  </div>
</div>
<div id="section-1-ab" class="section-1">
  <img class="top-leaf" src="assets/images/stock/top-leaf.png" alt="top leafs">
  <div class="section-1-1">
    <div class="container-fluid zone1">

      <div id="section-1-1" class="inner">
        <h1 class="title">{{ 'about.tituloSection1' | translate }}</h1>
        <h3 class="subtitle">{{ 'about.subtituloSection1' | translate }}</h3>
        <div class="ye-line"></div>
        <p [innerHtml]="'about.textoSection1' | translate">
        </p>
      </div>
    </div>
    <div id="section-1-2" class="container-fluid">
      <div class="zone2">
        <img class="mint" src="assets/images/stock/peppermint.png" alt="top leafs">
        <div class="image1-1">
        </div>
        <div class="image1">
          <img src="assets/images/products/etnothecarium1.jpeg" alt="top leafs">
        </div>
        <img class="cinnamon" src="assets/images/stock/cinnamon.png" alt="top leafs">
        <div class="image2">
          <img src="assets/images/products/etnothecarium2.jpg" alt="top leafs">
        </div>
      </div>

    </div>
  </div>
</div>
<div id="section-2-ab" class="section-2">
  <div class="container-fluid zone1">
    <div id="section-2-1" class="inner">
      <div class="innerTop">
        <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
        <h1 class="title">{{'about.tituloSection2' | translate}}</h1>
        <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
      </div>
      <p>
        {{'about.textoSection2' | translate}}
      </p>
    </div>
  </div>
</div>
<div id="section-3-ab" class="section-3">
  <div class="section-3-1">
    <div id="section-3-1" class="container-fluid zone1">
      <div class="inner">
        <div class="innerTop">
          <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
          <h1 class="title">{{'about.tituloSection3' | translate}}</h1>
          <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
        </div>
        <p>{{'about.textoSection3' | translate}}
        </p>
      </div>
    </div>
    <div id="section-3-2" class="container-fluid">
      <div class="zone2">
        <img class="albahaca" src="assets/images/stock/albahaca.png">
        <div class="image1">
          <img src="assets/images/products/etnothecarium3.jpg" alt="top leafs">
        </div>
        <img class="nuts" src="assets/images/stock/nuts.png">
        <div class="image2">
          <img src="assets/images/products/etnothecarium4.jpg" alt="top leafs">
        </div>
        <img class="calendula" src="assets/images/stock/calendula-flower.png">
      </div>
    </div>

  </div>
</div>
<div class="section-4">
  <div class="container-fluid zone1">
    <div class="inner">
      <div class="innerTop">
        <div class="zone1-1">
          <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
          <h1 class="title">{{'about.tituloSection4' | translate}}</h1>
        </div>
        <div class="zone1-2">
          <h1 class="title">{{'about.tituloZona1-2' | translate}}</h1>
          <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
        </div>
      </div>
      <div class="carousel-text">
        <p>{{'about.textoSection4' | translate}}</p>
        <h2>{{'about.tituloCarousel' | translate}}</h2>
        <div id="carousel-goals" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-goals" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-goals" data-slide-to="1"></li>
            <li data-target="#carousel-goals" data-slide-to="2"></li>
            <li data-target="#carousel-goals" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <p>{{'about.textoCarousel1' | translate}}</p>
            </div>
            <div class="carousel-item">
              <p>{{'about.textoCarousel2' | translate}}</p>
            </div>
            <div class="carousel-item">
              <p>{{'about.textoCarousel3' | translate}}</p>
            </div>
            <div class="carousel-item">
              <p>{{'about.textoCarousel4' | translate}}</p>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carousel-goals" role="button" data-slide="prev">
            <div class="arrow-down">
              <i class="material-icons">&#xE314;</i>
            </div>
          </a>
          <a class="carousel-control-next" href="#carousel-goals" role="button" data-slide="next">
            <div class="arrow-down">
              <i class="material-icons">&#xE315;</i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="section-5">
  <div class="container-fluid zone1">
    <h2>Galería de Imágenes</h2>
    <div class="gallery">
      <img src="assets/images/stock/movil-gallerytemp.jpg" alt="" class="imgfluid">
    </div>
  </div>
</div>-->
<div class="section-6">
  <div class="container-fluid">
    <h1 class="title">{{'about.tituloSection6' | translate}}</h1>
    <h3 class="subtitle">{{'about.subtituloSection6' | translate}}</h3>
    <div class="zone1">
      <p [innerHtml]="'about.textoSection6Zona1' | translate">
      </p>
      <div class="container-img">
        <img src="assets/images/stock/test hand.png" alt="" class="img-fluid hidden-md-up">
        <img src="assets/images/stock/test hand.png" alt="" class="img-fluid arreglo">
      </div>
    </div>
    <div class="zone2">
      <p [innerHtml]="'about.textoSection6Zona2' | translate">
      </p>
      <div class="container-img">
        <img src="assets/images/stock/cannabis-research.jpg" class="img-fluid hidden-md-up">
        <img src="assets/images/stock/cannabis-research.png" class="img-fluid arreglo">
      </div>
    </div>
  </div>
</div>
<div class="section-7">
  <div class="container-fluid">
    <div class="innerTop">
      <h1 class="title">{{'about.tituloSection7' | translate}}</h1>
      <h1 class="title">{{'about.titulo1Section7' | translate}}</h1>
    </div>
    <div class="carousel-team hidden-lg-up">
      <div id="carousel-team" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <!-- custom carousel bootsrap 4  -->
          <!--team-member1-->
          <div class="carousel-item active">
            <div class="photo-block">
              <img class="img-photo" src="assets/images/team/enrique.jpg" alt="second slide">
            </div>
            <div class="carousel-desc">
              <h3>{{'about.tituloCarousel1' | translate}}</h3>
              <h3>{{'about.subtituloCarousel1' | translate}}</h3>
              <div class="team-line">
              </div>
              <p>{{'about.textoLineCarousel1' | translate}}</p>
            </div>
            <div class="info">
              <h4>{{'about.textonInfoCarousel1' | translate}}</h4>
            </div>
          </div>

          <!--team-member3-->
          <div class="carousel-item">
            <div class="photo-block">
              <img class="img-photo" src="assets/images/team/dianaC.jpg" alt="second slide">
            </div>
            <div class="carousel-desc">
              <h3>{{'about.tituloCarousel2' | translate}}</h3>
              <h3>{{'about.subtituloCarousel2' | translate}}</h3>
              <div class="team-line">
              </div>
              <p>{{'about.textoLineCarousel2' | translate}}</p>
            </div>
            <div class="info">
              <h4>{{'about.textonInfoCarousel2' | translate}}</h4>
            </div>
          </div>


          <!--team-member4-->
          <div class="carousel-item">
            <div class="photo-block">
              <img class="img-photo" src="assets/images/team/julianT.jpg" alt="second slide">
            </div>
            <div class="carousel-desc">
              <h3>{{'about.tituloCarousel3' | translate}}</h3>
              <h3>{{'about.subtituloCarousel3' | translate}}</h3>
              <div class="team-line">
              </div>
              <p>{{'about.textoLineCarousel3' | translate}}</p>
            </div>
            <div class="info">
              <h4>{{'about.textonInfoCarousel3' | translate}}</h4>
            </div>
          </div>


          <!--team-member5-->
          <div class="carousel-item">
            <div class="photo-block">
              <img class="img-photo" src="assets/images/team/saulM.jpg" alt="second slide">
            </div>
            <div class="carousel-desc">
              <h3>{{'about.tituloCarousel4' | translate}}</h3>
              <h3>{{'about.subtituloCarousel4' | translate}}</h3>
              <div class="team-line">
              </div>
              <p>{{'about.textoLineCarousel4' | translate}}</p>
            </div>
            <div class="info">
              <h4>{{'about.textonInfoCarousel4' | translate}}
              </h4>
            </div>
          </div>

          <!--team-member6-->
          <div class="carousel-item">
            <div class="photo-block">
              <img class="img-photo" src="assets/images/team/guillermoB.jpg" alt="second slide">
            </div>
            <div class="carousel-desc">
              <h3>Guillermo</h3>
              <h3>Bermdudez</h3>
              <div class="team-line">
              </div>
              <p>Ingeniero Agrónomo</p>
            </div>
            <div class="info">
              <h4>Ingeniero Agrónomo, cinco años de experiencia en el sector floricultor. Actualmente es consultor de
                varias empresas de Cannabis en Colombia.
              </h4>
            </div>
          </div>

          <!--team-member7-->
          <div class="carousel-item">
            <div class="photo-block">
              <img class="img-photo" src="assets/images/team/ealeazarv.jpg" alt="second slide">
            </div>
            <div class="carousel-desc">
              <h3>Eleázar</h3>
              <h3>Vargas Mena</h3>
              <div class="team-line">
              </div>
              <p>Analista de control de Calidad</p>
            </div>
            <div class="info">
              <h4>Químico, M.Sc en Química, Estudiante de doctorado en Ciencias. 13 años de experiencia en el diseño e
                implementaciónde sistemas de gestión de calidad en laboratorios forenses, alimenticios y
                fitofarmacéuticos.
              </h4>
            </div>
          </div>
        </div>
        <!--custom carousel bootsrap 4  -->
        <a class="carousel-control-prev" href="#carousel-team" role="button" data-slide="prev">
          <div class="arrow-down">
            <i class="material-icons">&#xE314;</i>
          </div>
        </a>
        <a class="carousel-control-next" href="#carousel-team" role="button" data-slide="next">
          <div class="arrow-down">
            <i class="material-icons">&#xE315;</i>
          </div>
        </a>
        <ol class="carousel-indicators">
          <li data-target="#carousel-team" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-team" data-slide-to="1"></li>
          <li data-target="#carousel-team" data-slide-to="2"></li>
          <li data-target="#carousel-team" data-slide-to="3"></li>
          <li data-target="#carousel-team" data-slide-to="4"></li>
        </ol>
      </div>
    </div>
  </div>

  <div id="section-team-ab" class="section-team hidden-md-down">

    <div class="member">

      <div id="team-1" class="photo-block col-lg-2 ">
        <img class="img-fluid" src="assets/images/team/enrique.jpg" alt="second slide">
        <div class="carousel-desc">
          <h3>{{'about.sectionTeamTituloCarousel1' | translate}}</h3>
          <h3>{{'about.sectionTeamSubtituloCarousel1' | translate}}</h3>
          <div class="team-line">
          </div>
          <p>{{'about.sectionTeamTextoLineCarousel1' | translate}}</p>
        </div>
        <div class="info">
          <h4>{{'about.sectionTeamTextoInfoCarousel1' | translate}}</h4>
        </div>
      </div>

      <!-- <div class="photo-block col-lg-2">
        <img class="img-fluid" src="assets/images/team/hernanG.jpg" alt="second slide">
        <div class="carousel-desc">
          <h3>Luis Hernan</h3>
          <h3>Giraldo</h3>
          <div class="team-line">
          </div>
          <p>Gerente</p>
        </div>
        <div class="info">
          <h4>Master y estudiante de doctorado en Biología molecular y biotecnología vegetal. Socio fundador.</h4>
        </div>
      </div> -->

      <div id="team-2" class="photo-block col-lg-2">
        <img class="img-fluid" src="assets/images/team/dianaC.jpg" alt="second slide">
        <div class="carousel-desc">
          <h3>{{'about.sectionTeamTituloCarousel2' | translate}}</h3>
          <h3>{{'about.sectionTeamSubtituloCarousel2' | translate}}</h3>
          <div class="team-line">
          </div>
          <p>{{'about.sectionTeamTextoLineCarousel2' | translate}}</p>
        </div>
        <div class="info">
          <h4>{{'about.sectionTeamTextonInfoCarousel2' | translate}}</h4>
        </div>
      </div>

      <div id="team-3" class="photo-block col-lg-2">
        <img class="img-fluid" src="assets/images/team/julianT.jpg" alt="second slide">
        <div class="carousel-desc">
          <h3>{{'about.sectionTeamTituloCarousel3' | translate}}</h3>
          <h3>{{'about.sectionTeamSubtituloCarousel3' | translate}}</h3>
          <div class="team-line">
          </div>
          <p>{{'about.sectionTeamTextoLineCarousel3' | translate}}</p>
        </div>
        <div class="info">
          <h4>{{'about.sectionTeamTextonInfoCarousel3' | translate}}</h4>
        </div>
      </div>

      <div id="team-4" class="photo-block col-lg-2">
        <img class="img-fluid" src="assets/images/team/saulM.jpg" alt="second slide">
        <div class="carousel-desc">
          <h3>{{'about.sectionTeamTituloCarousel4' | translate}}</h3>
          <h3>{{'about.sectionTeamSubtituloCarousel4' | translate}}</h3>
          <div class="team-line">
          </div>
          <p>{{'about.sectionTeamTextoLineCarousel4' | translate}}</p>
        </div>
        <div class="info">
          <h4>{{'about.sectionTeamTextonInfoCarousel4' | translate}}
          </h4>
        </div>
      </div>

      <div class="photo-block col-lg-2" id="team-5">
        <img class="img-fluid" src="assets/images/team/guillermoB.jpg">
        <div class="carousel-desc">
          <h3>Guillermo</h3>
          <h3>Bermudez</h3>
          <div class="team-line">
          </div>
          <p>Ingeniero Agrónomo</p>
        </div>
        <div class="info">
          <h4>Ingeniero Agrónomo, cinco años de experiencia en el sector floricultor. Actualmente es consultor de
            varias empresas de Cannabis en Colombia.
          </h4>
        </div>
      </div>

      <div class="photo-block col-lg-2" id="team-6">
        <img class="img-fluid" src="assets/images/team/ealeazarv.jpg">
        <div class="carousel-desc">
          <h3>Eleázar</h3>
          <h3>Vargas Mena</h3>
          <div class="team-line">
          </div>
          <p>Analista de control de Calidad</p>
        </div>
        <div class="info">
          <h4>Químico, M.Sc en Química, Estudiante de doctorado en Ciencias. 13 años de experiencia en el diseño e
            implementaciónde sistemas de gestión de calidad en laboratorios forenses, alimenticios y
            fitofarmacéuticos.
          </h4>
        </div>
      </div>

    </div>
  </div>
</div>