<div class="banner">
  <div class="top">
    <h1>{{ 'contact.titulo' | translate }}</h1>
    <img src="assets/images/svg/flora-1.svg" alt="Floral Ornament" />
    <h4>{{ 'contact.subtitulo' | translate }}</h4>
  </div>
</div>
<div class="container-fluid">
  <div class="section-1 row">
    <div class="zone2 col-12 col-lg-6 ">
      <div class="ws-button">
        <p class="title ">{{ 'contact.chat' | translate }}<br><span>{{ 'contact.on' | translate }}</span></p>
        <img src="assets/images/svg/circle-mail.svg" alt="" class="ws-icon">
      </div>
      <h2>{{ 'contact.scan' | translate }}</h2>
      <div class="qr-image">
        <img src="assets/images/svg/qr-email-with-logo.svg" alt="qr-mail" class="ws-icon">
      </div>
      <p class="qr-text text-center" [innerHTML]="'contact.sendemail' | translate"></p>
      <img class="flower d-none d-md-block" src="assets/images/svg/flower-green.svg">
      <img class="flower d-none d-md-block" src="assets/images/svg/flower-green.svg">
      <!-- <div class="vacio "></div> -->
    </div>
    <div class="zone2 col-12 col-lg-6 ">
      <div class="title2 ">
        <h1 class="title ">{{ 'contact.tituloZona2' | translate }}</h1>
        <h1 class="title ">{{ 'contact.titulo1Zona2' | translate }}</h1>
      </div>
      <h2>{{ 'contact.textoZona2' | translate }}</h2>
      <a class="button1" href="{{linkea}}" target="_blank">{{ 'contact.botonZona2' | translate }}</a>
      <img class="flower" src="assets/images/svg/flower-green.svg ">
      <img class="flower" src="assets/images/svg/flower-green.svg ">
    </div>
  </div>
</div>
<div class="section-2 ">
  <div class=" ">
    <!-- <h5>Direccion o ubicacion escrita en texto</h5> -->
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>

<div class="section-3 ">

  <div class="zone3-1 ">
    <h1>Etnothecarium</h1>
    <h4 class="botica ">Botica Natural</h4>
    <div class="interno ">
      <div class="items ">
        <div class="icono ubic">
          <i class="material-icons "></i>
          <h5>Centro Comercial AQUA<br>
            Calle 60 con, Av. Guabinal #Esquina<br>
            Ibagué, Tolima, Colombia<br>
          </h5>
        </div>

        <!-- <div class="icono ">
          <i class="material-icons ">&#xE61D;</i>
          <h5 href="tel://573167541823 ">+57 3167541823</h5>
        </div>
        <div class="icono ">
          <i class="material-icons ">&#xE61D;</i>
          <h5 href="tel://573016979018 ">+57 3016979018</h5>
        </div> -->
        <div class="icono ">
          <i class="material-icons ">&#xE0E1;</i>
          <h5 class="allow-copy">info@etnothecarium.com</h5>
        </div>
        <!--<div class="icono ">
          <i class="material-icons ">&#xE0C8;</i>
          <h5>callefalsa No. 12-34</h5>
        </div>-->
      </div>
      <div class="floral ">
        <img class="hidden-md-up " src="assets/images/svg/flora-2.svg " alt="Floral Ornament ">
        <img class="arreglo " src="assets/images/svg/flora-3.svg " alt="Floral Ornament ">
      </div>
    </div>
    <img class="bg-image arreglo " src="assets/images/bg/contact-items-bg.png ">
  </div>
</div>