<div class="banner">
    <div class="top">
        <h1>{{ 'products.titulo' | translate }}</h1>
        <img src="assets/images/svg/flora-1.svg" alt="Floral Ornament">
        <h4>{{ 'products.subtitulo' | translate }}</h4>
    </div>
    <div class="arrow-down bounce">
        <i (click)='arrowClick();' class="material-icons">&#xE313;</i>
    </div>
</div>
<div id="section-1" class="section-1">

    <div class="zoneSVG">

        <svg version="1.1" id="trazadoSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 1303 5300.1" style="enable-background:new 0 0 1303 5300.1;"
            xml:space="preserve">
            <path d="M139.5,3506.3c-81.6,32.2-217.4,568.7,10.7,606.6c516.3,85.8,412.7-360.7,586.7-455
            c159.4-86.4,504.2-32.7,510.1,131.7c13.4,373.8-483.3,251.2-639.6,716.9c-48.6,144.8,44.2,293.1,32.9,471.8
            c-13.6,216.6-57.2,259.9-51.1,289.5" fill="none" id="rutasvg3" #rutasvg3 stroke-miterlimit="10"
                stroke-width="9" style="stroke-dasharray: 1428.9px; stroke-dashoffset: 1428.9px;" />
            <path d="M887.7,1225.9c-147.7,140.3-367.7,192.6-498.3,349c-26.7,32-49.2,67.9-81,94.7
        c-31.8,26.9-76.7,43.5-115.5,28.3c-17.8-7-32.8-20.2-43.1-36.3c-8.4-13.2-13.8-28.6-13.1-44.2c1.3-27.6,21.7-51.3,45.8-64.7
        c24.6-13.7,54.9-18.8,81.4-9.2c22.3,8.1,39.8,25.5,55.9,42.9c69.9,75.6,132.1,163.8,224.9,208.4c154.6,74.2,315.2-1.9,474.4-6.9
        c56.3-1.8,119.6-4,169.9,26.6c54.2,32.9,71.2,96.7,71.5,156.7c0.2,33.7-4.4,67.6-12.8,100.2c-18.4,71.1-58.5,140.3-123,175.4
        c-91.6,49.9-201.3,22.4-300.3,26.3c-63.3,2.5-127.1,10.5-189.9,18.5c-48,6.1-95.8,13.5-143.3,22.7
        c-165.6,32.1-425.1,87.1-433.2,299.8c-2.3,60.6,22.2,122.3,67.4,162.9c35.3,31.7,83,49.5,130.5,48.7c53.7-1,103.5-30.7,154.3-45.4
        c34-9,67-14,102-12h0.1c109.2,9.1,220.8,66.1,264.1,171.5c17.5,42.5,23,89.4,19.8,135.2c-5.3,74.3-36.2,149.9-96.1,194.2
        c-61.5,45.6-148.6,60.6-225.1,64c-196.9-18.7-185.9,43.4-282.9,130.7" fill="none" id="rutasvg2" #rutasvg2
                stroke-miterlimit="10" stroke-width="9"
                style="stroke-dasharray: 5621.9px; stroke-dashoffset: 5621.9px;" />
            <path d="M447,652.3c22.3-12.2,83.5-49,143.3-45.4c34.5,2.1,100.1,18,111.6,56.9s-48.4,92.6-58.8,133.4
        s78.5,75.8,66.2,121.9C697,965.3,725,986.9,760.2,1026c36.9,41,92,62.6,133.1,98.6" fill="none" id="rutasvg1"
                #rutasvg1 stroke-miterlimit="10" stroke-width="9"
                style="stroke-dasharray: 869.483px; stroke-dashoffset: 869.483px;" />
            <path d="M741.4,55.5c-226.9-69.1-92.1,179-136.1,231.3c-83.4,99.2-233.3,29.8-324,44.9
        c-62.5,10.4-101.4,138.6-79.7,204c23.5,71,147.1,78.3,148.8,84.2" fill="none" id="rutasvg0" #rutasvg0
                stroke-miterlimit="10" stroke-width="9"
                style="stroke-dasharray: 1113.06px; stroke-dashoffset: 689px;" />
        </svg>
    </div>


    <div class="zone0">
        <div class="content">
            <div class="product-text">
                <div class="type-1">
                    <img alt="Floral Ornament" src="assets/images/svg/ornament.svg">
                    <h1 class="title">{{'products.tituloZona0' | translate}}</h1>
                    <img alt="Floral Ornament" class="rotateX" src="assets/images/svg/ornament.svg">
                </div>
                <p id="trigger-ruta-0">
                <p [innerHtml]="'products.textoZona0' | translate"></p>
            </div>
            <div class="product-photo">
                <img class="product2 img-fluid" src="assets/images/products/resin.png">
            </div>
        </div>
    </div>

    <div class="zone1">
        <img class="product1" src="assets/images/products/urguento.png">
        <div class="content">
            <div class="product-text">
                <div class="type-1">
                    <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                    <h1 class="title">{{'products.tituloZona2' | translate}}</h1>
                    <img class="rotateX" src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                </div>
                <p id="trigger-ruta-1" [innerHtml]="'products.textoZona2' | translate">
                </p>
            </div>
        </div>
    </div>

    <div class="zone2">
        <img class="img-fluid" src="assets/images/bg/products-bg-3-2-1.png">
        <div class="content1">
            <div class="content">
                <div class="innerTop">
                    <div class="zone1-1">
                        <img class="rotateX" src="assets/images/svg/ornament-white.svg" alt="Floral Ornament">
                        <h1 class="title">{{'products.tituloZona1' | translate}}</h1>
                    </div>
                    <div class="zone1-2">
                        <h1 class="title">{{'products.subtituloZona1' | translate}}</h1>
                        <img src="assets/images/svg/ornament-white.svg" alt="Floral Ornament">
                    </div>
                    <p id="trigger-flor" [innerHtml]="'products.textoZona1' | translate">
                    </p>
                </div>
                <div class="product-photo">
                    <img class="product2 img-fluid" src="assets/images/products/cannabis-extracto.png">
                </div>
            </div>
        </div>
        <img class="img-fluid" src="assets/images/bg/products-bg-3-2.png">
    </div>

    <div class="zone3" id="trigger-ruta-2">
        <div class="img-flower" >
            <img id="flor" #flor src="assets/images/stock/flower.png">
        </div>
        <div class="content">
            <div class="product-text">
                <div class="type-1" id="trigger-anis">
                    <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                    <h1 class="title">{{'products.tituloZona3' | translate}}</h1>
                    <img class="rotateX" src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                </div>
                <p [innerHtml]="'products.textoZona3' | translate">
                </p>
            </div>
            <div class="product-photo">
                <img class="product2 img-fluid" src="assets/images/products/aceite-herbal.png">
            </div>
        </div>
    </div>
    <div class="zone4">
        <div class="content">
            <div class="product-text">
                <div class="type-1 type-2">
                    <h1 class="title">{{'products.tituloZona4' | translate}}</h1>
                    <div class="ornaments">
                        <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                        <img class="rotateX" src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                    </div>
                </div>
                <p [innerHtml]="'products.textoZona4' | translate">
                </p>
            </div>
            <div class="product-photo">
                <img class="product2 img-fluid" src="assets/images/products/balsamo-labial.png">
            </div>
        </div>
    </div>
    <img class="img-fluid grey" src="assets/images/svg/grey-ornament.svg">
    <div class="zone5">
        <div class="content">
            <div class="product-photo">
                <img id="trigger-ruta-3" class="product2 img-fluid" src="assets/images/products/linimento.png">
            </div>
            <div class="product-text">
                <div class="type-1">
                    <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                    <h1 id="trigger-gira" class="title">{{'products.tituloZona5' | translate}}</h1>
                    <img class="rotateX" src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                </div>
                <p [innerHtml]="'products.textoZona5' | translate">
                </p>
                <img id="albahaca" #albahaca class="girando" src="assets/images/bg/albahaca.png">
            </div>
        </div>
    </div>
    <div class="zone4">
        <div class="content" id="trigger-4">
            <div class="product-text">
                <div class="type-1 type-2">
                    <h1 class="title">{{'products.tituloZona6' | translate}}</h1>
                    <div class="ornaments">
                        <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                        <img class="rotateX" src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                    </div>
                </div>
                <p [innerHtml]="'products.textoZona6' | translate">
                </p>
            </div>
            <div class="product-photo">
                <img class="product2 img-fluid" src="assets/images/stock/cannabis-research.png">
            </div>
        </div>
    </div>
    <div class="zone3">
        <div class="img-flower">
            <img id="anis" #anis src="assets/images/index/anis-gira2.png">
        </div>
        <div class="content">
            <div class="product-text">
                <div class="type-1">
                    <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                    <h1 class="title">{{'products.tituloZona7' | translate}}</h1>
                    <img class="rotateX" src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                </div>
                <p [innerHtml]="'products.textoZona7' | translate">
                </p>
            </div>
            <div class="product-photo">
                <img class="product2 img-fluid" src="assets/images/products/esquejes.png">
            </div>
        </div>
    </div>
    <div class="zone4">
        <div class="content" id="trigger-4">
            <div class="product-text">
                <div class="type-1 type-2">
                    <h1 class="title">{{'products.tituloZona8' | translate}}</h1>
                    <div class="ornaments">
                        <img src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                        <img class="rotateX" src="assets/images/svg/ornament.svg" alt="Floral Ornament">
                    </div>
                </div>
                <p [innerHtml]="'products.textoZona8' | translate">
                </p>
            </div>
            <div class="product-photo">
                <img class="product2 img-fluid" src="assets/images/products/flor-seca.png">
            </div>
        </div>
    </div>
    <div id="invitation-block" class="invitation-block">
        <svg version="1.1" id="Capa_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 159.2 175.9" style="enable-background:new 0 0 159.2 175.9;"
            xml:space="preserve">
            <style type="text/css">
                .st0 {
                    stroke: #e7b34e;
                    stroke-width: 6;
                    stroke-linecap: round;
                    stroke-miterlimit: 10;
                }
            </style>
            <path id="sol1" #sol1 class="st0" d="M81.9,137.3c2.4,1.7,42.4,21.8,42.4,21.8" />
            <path id="sol2" #sol2 class="st0" d="M73.2,102.1c4.5-0.6,70.1-20.4,70.1-20.4" />
            <path id="sol3" #sol3 class="st0" d="M65.6,67.6c2.4-2.3,34.3-42.5,34.3-42.5" />
            <path id="sol4" #sol4 class="st0" d="M32.5,62.5C32.1,59.5,19.1,16,19.1,16" />
        </svg>
        <div class="invite">
            <!-- <h1 class="signo left">¿</h1> -->
            <h1 class="title" [innerHtml]="'products.tituloInvitacion' | translate"></h1>
        </div>
        <div class="invite">
            <h2 class="subtitle">{{'products.subtituloInvitacion' | translate}}</h2>
            <!-- <h1 class="signo right">?</h1> -->
        </div>
        <a class="link" [routerLink]="['/contact']">{{'products.link' | translate}}</a>
    </div>
    <div class="vacio"></div>
    <div class="bottom">
        <img class="img-fluid" src="assets/images/stock/top-leaf.png">
    </div>
</div>