/* You can add global styles to this file, and also import other style files */

@import url("./assets/font/webfont.css");
html {
  font-size: 15px;
}

html,
body {
  overflow-x: hidden;
  padding-right: 0;
  font-family: HipsterScriptPro, serif;
  /*Para arreglar el problema de las modales*/
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  /* display: none; */
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}

* {
  font-family: Open Sans, sans-serif, HipsterScriptPro, serif;
}

*:focus {
  outline: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.row {
  margin: 0;
}

h1 {
  font-family: hipsterScriptPro;
  font-size: 3.6rem;
  margin-bottom: -1rem;
}

a.link {
  color: #e5a833;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  z-index: 9;
}

@media all and (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media all and (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media all and (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden {
    display: none !important;
  }
}

.ws-float-button {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  transition: all ease-in-out 150ms;
  cursor: pointer;
  transform: translateX(600px);

  img {
    transition: all ease-in-out 150ms;
    // filter: drop-shadow(4px 4px 3px #00000047) saturate(0);
  }

  &:hover {
    img {
      // filter: drop-shadow(4px 4px 3px #00000047) saturate(100%);
      transform: scale(1.125);
    }
  }
}

.nav-help {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-help {
    display: block;
    margin-top: 1.6rem;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .nav-help {
    margin-top: 1.9rem;
    width: 100%;
  }
}

.bounce-in-right {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}

@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.o-0 {
  opacity: 0 !important;
}

.allow-copy {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
